[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]

flake8-builtins = "==0.2"
flake8-commas = "==0.4.3"
flake8-quotes = "==0.9.0"
pytest = "==3.0.7"
pytest-flake8 = "==0.8.1"
pytest-isort = "==0.1.0"
ipython = "*"
gitlint = "*"
pre-commit = "*"

[packages]

django = ">=1.11,<1.12"
django-split-settings = "*"
psycopg2 = "*"
django-axes = "*"
safety = "*"
