www.{$DOMAIN_NAME} {
    redir https://{$DOMAIN_NAME}
}

{$DOMAIN_NAME} {
  tls {$TLS_EMAIL}

  root /var/www/django

  proxy / web:8000 {
    except /static

    transparent
  }

  log stdout
  errors stdout
  gzip
}
