# We only run this pipeline when something gitlab-related in changed,
# no need to execute it on every run, because basic testing is covered
# by Github Actions.


# Reusing existing gitlab definition:
include:
  - local: '{{cookiecutter.project_name}}/.gitlab-ci.yml'


# Building template project:
mirror-github-build:
  stage: build
  image: python:3.9
  variables:
    POETRY_VERSION: "1.1.14"
  before_script:
    # Installing poetry:
    - curl -sSL "https://install.python-poetry.org" | python -
    - export PATH="$HOME/.local/bin:$PATH"
    # Installing dependencies:
    - poetry config virtualenvs.in-project true
    - poetry install --no-dev
  script:
    - poetry run bash tests/test_gitlab.sh
  only:
    - master
    - external_pull_requests
  artifacts:
    name: "template-build"
    expire_in: 1 week
    paths:
      - '.test/wemake-django-template'


# Redefining how tests are executed:
variables:
  GROUP_NAME: 'sobolevn'
  PROJECT_NAME: 'wemake-django-template'


test:
  variables:
    CI_PROJECT_DIR: '.test/wemake-django-template'
  only:
    - master
    - external_pull_requests


release-image:
  variables:
    CI_PROJECT_DIR: '.test/wemake-django-template'
  only:
    - master
    - external_pull_requests
