[build-system]
requires = ["poetry==0.12.8"]
build-backend = "poetry.masonry.api"


[tool.poetry]
name = "wemake-django-template"
description = "Bleeding edge django template focused on code quality and security"
version = "0.1.0"
readme = "README.md"
authors = []


[tool.poetry.dependencies]
python = "3.6.6"
cookiecutter = "^1.6"
jinja2-git = "^0.2"


[tool.poetry.dev-dependencies]
binaryornot = "^0.4"
wemake-python-styleguide = "^0.5"
flake8-pytest = "^1.3"
pytest = "^4.0"
pytest-flake8 = "^1.0"
pytest-isort = "^0.2"
pytest-randomly = "^1.2"
pytest-cookies = "^0.3"
safety = "^1.8"
