[build-system]
requires = ["poetry>=1.0.3"]
build-backend = "poetry.masonry.api"


[tool.nitpick]
style = "https://raw.githubusercontent.com/wemake-services/wemake-python-styleguide/master/styles/nitpick-style.toml"


[tool.poetry]
name = "wemake-django-template"
description = "Bleeding edge django template focused on code quality and security"
version = "0.1.0"
readme = "README.md"
authors = [
  "Nikita Sobolev <mail@sobolevn.me>"
]

license = "MIT"


[tool.poetry.dependencies]
python = "^3.7"
cookiecutter = "^1.6"
jinja2-git = "^1.0"


[tool.poetry.dev-dependencies]
binaryornot = "^0.4"

wemake-python-styleguide = "^0.13.4"
flake8-pytest = "^1.3"
flake8-pytest-style = "^0.1.3"
nitpick = "^0.21.3"

pytest = "^5.4"
pytest-randomly = "^3.1"
pytest-cookies = "^0.3"

safety = "^1.8"

docker-compose = "^1.25.0"
docker-image-size-limit = "^0.3.0"
tomlkit = "^0.5.8"
