[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_full_version = "3.6.5"

[dev-packages]
django-debug-toolbar = "*"
django-querycount = "*"
nplusone = "*"
"pep8-naming" = "*"
"flake8-commas" = "*"
"flake8-quotes" = "*"
"flake8-blind-except" = "*"
"flake8-comprehensions" = "*"
"flake8-pep3101" = "*"
"flake8-docstrings" = "*"
"flake8-coding" = "*"
"flake8-module-name" = "*"
"flake8-pytest" = "*"
"flake8-string-format" = "*"
"flake8-debugger" = "*"
"flake8-print" = "*"
"flake8-builtins" = "*"
"flake8-bugbear" = "*"
pytest = "*"
"pytest-flake8" = "*"
pytest-isort = "*"
pytest-django = "*"
pytest-cov = "*"
pytest-xdist = "*"
pytest-randomly = "*"
pytest-deadfixtures = "*"
pytest-picked = "*"
python-taint = "*"
pre-commit = "*"
xenon = "*"
radon = "*"
mypy = "*"
pylint = "*"
ipython = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"
sphinxcontrib-napoleon = "*"
"doc8" = "*"

[packages]
django = "<2.0"
django-split-settings = "*"
django-axes = "*"
django-csp = "*"
"psycopg2" = "*"
gunicorn = "*"
python-decouple = "*"
dump-env = "*"
bcrypt = "*"
