[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[tool.nitpick]
style = "https://raw.githubusercontent.com/wemake-services/wemake-python-styleguide/master/styles/nitpick-style-wemake.toml"


[tool.poetry]
name = "{{ cookiecutter.project_name }}"
description = "{{ cookiecutter.project_verbose_name }}"
version = "0.1.0"
readme = "README.md"
authors = ["{{ cookiecutter.project_domain }}"]


[tool.poetry.dependencies]
python = "3.9.9"

django = "^3.2"
django-split-settings = "^1.1"
django-axes = "^5.28"
django-csp = "^3.7"
django-health-check = "^3.16"
django-http-referrer-policy = "^1.1"
django-permissions-policy = "^4.6"
django-stubs-ext = "^0.3"

psycopg2-binary = "^2.9"
gunicorn = "^20.0"
python-decouple = "^3.5"
bcrypt = "^3.2"
structlog = "^21.5"


[tool.poetry.dev-dependencies]
django-debug-toolbar = "^3.2"
django-querycount = "^0.7"
django-migration-linter = "^3.0"
django-extra-checks = "^0.11"
django-coverage-plugin = "^2.0"
nplusone = "^1.0"

wemake-python-styleguide = "^0.16"
flake8-pytest-style = "^1.6"
flake8-django = "^1.1"
flake8-logging-format = "^0.6"
nitpick = "^0.29"

pytest = "^6.2"
pytest-django = "^4.5"
pytest-cov = "^3.0"
pytest-randomly = "^3.10"
pytest-deadfixtures = "^2.2"
pytest-testmon = "^1.2"
pytest-timeout = "^2.0"
django-test-migrations = "^1.2"
hypothesis = "^6.34"

mypy = "^0.930"
django-stubs = "^1.9"

sphinx = "^4.3"
sphinx-autodoc-typehints = "^1.12"
tomlkit = "^0.8"
doc8 = "^0.10"

yamllint = "^1.26"
safety = "^1.10"
dotenv-linter = "^0.3"
polint = "^0.4"
dennis = "^0.9"
dump-env = "^1.3"
ipython = "^7.30"
