[tool.poetry]
name = "{{ cookiecutter.project_name }}"
description = "{{ cookiecutter.project_verbose_name }}"
version = "0.1.0"
readme = "README.md"
package-mode = false
authors = []
classifiers = [
  "Private :: Do not Upload",
]


[tool.poetry.dependencies]
python = "3.11.9"

django = { version = "^4.2", extras = ["argon2"] }
django-split-settings = "^1.3"
django-axes = "^7.0"
django-csp = "^3.8"
django-health-check = "^3.18"
django-permissions-policy = "^4.23"
django-stubs-ext = "^5.1"

psycopg2-binary = "^2.9"
gunicorn = "^23.0"
python-decouple = "^3.8"
structlog = "^24.4"
wheel = "^0.45"


[tool.poetry.group.dev.dependencies]
django-debug-toolbar = "^4.4"
django-migration-linter = "^5.1"
django-extra-checks = "^0.16"
django-query-counter = "^0.4"
nplusone = "^1.0"

wemake-python-styleguide = "^1.0"
flake8-pytest-style = "^2.0"
flake8-logging-format = "^2024.24"
nitpick = "^0.35"
doc8 = "^1.1"

pytest = "^8.3.4"
pytest-django = "^4.9"
pytest-cov = "^6.0"
covdefaults = "^2.3"
django-coverage-plugin = "^3.1"
pytest-randomly = "^3.16"
pytest-timeout = "^2.3"
django-test-migrations = "^1.3"
hypothesis = "^6.123"

django-stubs = { version = "^5.1.1", extras = ["compatible-mypy"] }

djlint = "^1.36"
yamllint = "^1.35"
safety = "^3.2"
dotenv-linter = "^0.5"
polint = "^0.4"
dennis = "^1.1"
dump-env = "^1.5"
ipython = "^8.31"

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
sphinx = "^8.1"
sphinx-autodoc-typehints = "^2.5"
tomli = "^2.2"
myst-parser = "^4.0"


[build-system]
requires = ["poetry-core>=1.9"]
build-backend = "poetry.core.masonry.api"


[tool.djlint]
ignore = "T003,H006,H030,H031"
include = "H017,H035"
indent = 2
blank_line_after_tag = "load,extends"
profile = "django"
max_line_length = 80
format_attribute_template_tags = true


[tool.nitpick]
style = "https://raw.githubusercontent.com/wemake-services/wemake-python-styleguide/0.19.2/styles/nitpick-style-wemake.toml"
