[build-system]
requires = ["poetry==0.12.12"]
build-backend = "poetry.masonry.api"


[tool.poetry]
name = "a"
description = "b"
version = "0.1.0"
readme = "README.md"
authors = []


[tool.poetry.dependencies]
python = "3.7.3"
django = "^1.11"
django-split-settings = "^0.3"
django-axes = "^4.5"
django-csp = "^3.5"
django-health-check = "^3.10"
django-feature-policy = "^2.0"
psycopg2 = "^2.8"
gunicorn = "^19.9"
python-decouple = "^3.1"
dump-env = "^0.2"
bcrypt = "^3.1"


[tool.poetry.dev-dependencies]
django-debug-toolbar = "^1.11"
django-querycount = "^0.7"
nplusone = "^1.0"
wemake-python-styleguide = "^0.8"
flake8-pytest = "^1.3"
flake8-django = "^0.0.4"
pytest = "^4.4"
pytest-django = "^3.4"
pytest-cov = "^2.6"
pytest-randomly = "^3.0"
pytest-deadfixtures = "^2.1"
pytest-testmon = "^0.9"
pytest-timeout = "^1.3"
pre-commit = "^1.16"
xenon = "^0.5"
mypy = "^0.701"
ipython = "^7.5"
sphinx = "^2.0"
sphinx-autodoc-typehints = "^1.6"
doc8 = "^0.8"
yamllint = "^1.15"
safety = "^1.8"
dotenv-linter = "^0.1"
polint = "^0.4"
dennis = "^0.9"
