# Security Warning! Do not commit this file to any VCS!
# This is a local file to speed up development process,
# so you don't have to change your environment variables.


# === General ===

DOMAIN_NAME={{ cookiecutter.project_domain }}
TLS_EMAIL=webmaster@{{ cookiecutter.project_domain }}


# === Django ===

DJANGO_SECRET_KEY=__CHANGEME__


# === Database ===

# Used both by docker and django:
POSTGRES_DB={{ cookiecutter.project_name }}
POSTGRES_USER={{ cookiecutter.project_name }}
POSTGRES_PASSWORD=

# Used only by django:
DJANGO_DATABASE_HOST=localhost
DJANGO_DATABASE_PORT=5432
